@import url("/CSS/style.css");

header{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
        url("/src/background\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 6px;
}

p {
    padding: 0px 30px 50px 0px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar.scroll {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #494947;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar .button:hover {
    background-color: var(--penn-red);
}

#text {
    margin-top: 100px;
}

.logo {
    padding: 20px;
    font-size: 2.5em;
    letter-spacing: 1px;
}

.menu {
    margin-top: 40px;
}

.menu > a b {
    font-weight: normal;
}

.menu > a b:hover {
    text-shadow:  0 0 5px var(--eng-orange);
}

.button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    height: 25px;
    transition: background-color 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 5em;
}
