@import url("/CSS/utils.css");
@import url("/CSS/clock.css");
@import url("/CSS/floatingbutton.css");
@import url("/CSS/main.css");
@import url("/CSS/header.css");
@import url("/CSS/footer.css");
/* import for footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --eng-orange: #D00000;
    --penn-red: #9D0208;
    --chocolate-cosmos: #370617;
    --rosewood: #6A040F;
  }


* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}